<div class="row d-flex justify-content-center align-items-center">
  <div class="col-md-4 mx-auto">
    <div class="custom-form">
      <%= form_with model: [:admin, @brand] do |form| %>
        <% if @brand.errors.any? %>
          <%= render 'shared/error_messages', instance: @brand %>
        <% end %>

        <div id ='category' class="my-4 pb-3">
          <%= render 'shared/select_category', categories: @categories %>
        </div>

        <div id = 'subcategories' class="my-4">
          <%= render 'subcategory_for_brand', subcategories: @subcategories %>
        </div>

        <div class="name my-3">
          <%= form.label :name, class: 'my-2' %>
          <%= form.text_field :name, class:'form-control' %>
        </div>

        <div class="description my-3">
          <%= form.label :description, class:'my-2' %>
          <%= form.text_area :description, class:'form-control' %>
        </div>

        <%= form.submit class: 'btn btn-primary'%>
            <%= link_to 'Back', admin_brands_path, class:'btn btn-secondary mx-2' %>
        <% end %>
    </div>
  </div>
</div>
